.vscode/
.catkin_workspace
__pycache__/
*.zip
*.png

# ros1
#build/
#devel/

# ros2
build/
install/
log/
core

aws-robomaker-bookstore-world
rosbot_description

# packages
navigation2
ros
ompl
slam_toolbox
BehaviorTree
Groot
